body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    background: plum;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#password {
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    margin-right: 10px;
}

button {
    padding: 5px;
    cursor: pointer;
    background-color: deeppink;
}
